In [6]:
def check_movie_release(movie):
    if movie['release_year'] < 2000:
        print(f"{movie['name']} was released before 2000")
    else:
        print(f"{movie['name']} was released after 2000")
        return movie['name']
def updated_check_movie_release(movie, released_after_year, released_before_year=2024):
    if released_after_year < movie['release_year'] and movie['release_year'] < released_before_year:
        movie['recent'] = True
    else:
        movie['recent'] = False
    return movie
recent_movies = []

favorite_movies =[
    {
        "name": "The Matrix IV",
        "release_year": 2022,
        "sequels": ["The Matrix I", "The Matrix II", "The Matrix III"]
    },
    {
        "name": "Star Wars IV",
        "release_year": 1977,
        "sequels": ["Star Wars V", "Star Wars VI", "Star Wars VII", "Star Wars VIII", "Star Wars IX"],
        "prequels": ["Star Wars I", "Star Wars II", "Star Wars III"]
    },
    {
        "name": "The Lord of the Rings: The Fellowship of the Ring",
        "release_year": 2001,
        "sequels": ["The Two Towers", "The Return of the King"]
    }
]

for movie in favorite_movies:
    updated_movie = updated_check_movie_release(movie, 2020)
    if updated_movie['recent']:
        recent_movies.append(updated_movie['name'])

print(recent_movies)

['The Matrix IV']

In [14]:
import pandas as pd
pd.__version__

'2.2.1'

In [20]:
film_scripts = pd.read_csv('cleaned_pudding_data.csv')
# help(pd.read_csv)
type(film_scripts)

pandas.core.frame.DataFrame

In [22]:
film_scripts.dtypes

imdb_id                        object
script_id                       int64
title                          object
year                            int64
gross (inflation-adjusted)    float64
link                           object
dtype: object

In [26]:
film_scripts[['link']]
film_scripts[0:5]
film_scripts[['link', 'title']]

,link,title
0,http://www.aellea.com/emruf3/tip.html,Trouble in Paradise
1,http://www.aellea.com/script/qWAX.htm,Mystery of the Wax Museum
2,http://www.aellea.com/emruf3/tm.html,Transatlantic Merry-Go-Round
3,http://www.dailyscript.com/scripts/Mr%20Smith%...,Mr. Smith Goes to Washington
4,http://www.dailyscript.com/scripts/Ninotchka.txt,Ninotchka
...,...,...
119,http://www.dailyscript.com/scripts/The_Jacket....,The Jacket
120,http://www.dailyscript.com/scripts/somethingbo...,The Wedding Date
121,http://www.dailyscript.com/scripts/crazy_love....,Crazylove
122,http://www.dailyscript.com/scripts/domino.html,Domino
123,http://www.horrorlair.com/scripts/legend.txt,I Am Legend

In [27]:
film_scripts['link'].tolist()

['http://www.aellea.com/emruf3/tip.html',
 'http://www.aellea.com/script/qWAX.htm',
 'http://www.aellea.com/emruf3/tm.html',
 'http://www.dailyscript.com/scripts/Mr%20Smith%20Goes%20To%20Washington.txt',
 'http://www.dailyscript.com/scripts/Ninotchka.txt',
 'http://www.dailyscript.com/scripts/i-walked_with_a_zombie.html',
 'http://www.dailyscript.com/scripts/theleopardman.htm',
 'http://www.dailyscript.com/scripts/SeventhVictim.htm',
 'http://www.dailyscript.com/scripts/cursecat.htm',
 'http://www.dailyscript.com/scripts/TheBodySnatcher.htm',
 'http://www.dailyscript.com/scripts/isleofthedead.htm',
 'http://www.aellea.com/script/itsawonderfullife.txt',
 'http://www.dailyscript.com/scripts/sunset_bld_3_21_49.html',
 'http://www.dailyscript.com/scripts/Stalag%2017.txt',
 'http://www.scifiscripts.com/scripts/WARWORLDS.txt',
 'http://www.dailyscript.com/scripts/onthewaterfront.html',
 'http://www.aellea.com/script/salt.txt',
 'http://www.dailyscript.com/scripts/Hustler,+The.txt',
 'http://www.aellea.com/script/viridiana.txt',
 'http://www.aellea.com/emruf3/nbam.html',
 'http://www.scifiscripts.com/scripts/fantasticvoyager.txt',
 'http://www.aellea.com/script/cool_hand_luke.html',
 'http://www.dailyscript.com/scripts/klute.html',
 'http://www.dailyscript.com/scripts/getaway.html',
 'http://www.aellea.com/script/sounder.txt',
 'http://www.horrorlair.com/scripts/exorcist.html',
 'http://www.dailyscript.com/scripts/meanstreet.html',
 'http://www.dailyscript.com/scripts/godfather2.html',
 'http://www.horrorlair.com/scripts/young.txt',
 'http://www.dailyscript.com/scripts/Jaws.txt',
 'http://www.dailyscript.com/scripts/Logans+Run.txt',
 'http://www.dailyscript.com/scripts/Smokey%20And%20The%20Bandit.txt',
 'http://www.dailyscript.com/scripts/Hardcore.txt',
 'http://www.dailyscript.com/scripts/startrek01.html',
 'http://www.scifiscripts.com/scripts/esb_final.txt',
 'http://www.horrorlair.com/scripts/friday13th3.txt',
 'http://www.dailyscript.com/scripts/Gandhi.txt',
 'http://www.dailyscript.com/scripts/Officer+And+A+Gentleman,+An.txt',
 'http://www.horrorlair.com/scripts/jaws3_1st_draft.txt',
 'http://www.dailyscript.com/scripts/ploughmans_lunch.html',
 'http://www.scifiscripts.com/scripts/superman3_script.txt',
 'http://www.scifiscripts.com/scripts/Trek/Star_Trek_III.htm',
 'http://www.angelfire.com/movies/ridleyscott/script/LegendOfDarkness.txt',
 'http://www.dailyscript.com/scripts/Silverado.txt',
 'http://www.horrorlair.com/scripts/friday13th6.txt',
 'http://www.scifiscripts.com/scripts/Highlander_final.txt',
 'http://www.scifiscripts.com/scripts/Trek/Star_Trek_IV.htm',
 'http://www.horrorlair.com/scripts/jaws_the_revenge.txt',
 'http://www.horrorlair.com/scripts/nightmare_on_elm_street3.txt',
 'http://www.scifiscripts.com/scripts/superman_IV.txt',
 'http://www.horrorlair.com/scripts/halloween4.txt',
 'http://www.aellea.com/emruf3/toyshop.html',
 'http://www.dailyscript.com/scripts/Pet-Sematary.html',
 'http://www.moviescriptsandscreenplays.com/johncusack/scripts/sayanything.txt',
 'http://www.dailyscript.com/scripts/True%20Believer.txt',
 'http://www.dailyscript.com/scripts/ford-fairlane_early.html',
 'http://www.dailyscript.com/scripts/goodfellas.html',
 'http://www.scifiscripts.com/scripts/t2.txt',
 'http://www.dailyscript.com/scripts/buffy_the_vampire_slayer.html',
 'http://www.dailyscript.com/scripts/hero1.html',
 'http://www.scifiscripts.com/msol/Knight_m.txt',
 'http://www.dailyscript.com/scripts/last-of-the-mohicans-script.html',
 'http://www.dailyscript.com/scripts/Twin+Peaks+-+Fire+Walk+With+Me.txt',
 'http://www.awesomefilm.com/script/arcticblue.txt',
 'http://www.dailyscript.com/scripts/cliffhanger_stallone.html',
 'http://www.horrorlair.com/scripts/friday13thjasongoestohell.txt',
 'http://www.dailyscript.com/scripts/Kalifornia.txt',
 'http://www.dailyscript.com/scripts/nightmare-b4-xmas_early.html',
 'http://www.horrorlair.com/scripts/whiteang.txt',
 'http://www.dailyscript.com/scripts/Frankenstein+(1994).txt',
 'http://www.scifiscripts.com/msol/LEON.txt',
 'http://www.scifiscripts.com/msol/my_girl_2.html',
 'http://www.awesomefilm.com/script/onlyyou.html',
 'http://www.horrorlair.com/scripts/strangehold.txt',
 'http://www.awesomefilm.com/script/manhunt.html',
 'http://www.awesomefilm.com/script/bomc.txt',
 'http://www.dailyscript.com/scripts/Panther.txt',
 'http://www.awesomefilm.com/script/smoke.txt',
 'http://www.horrorlair.com/scripts/houseOfTheDamned.txt',
 'http://www.dailyscript.com/scripts/Lost+Highway.txt',
 'http://www.awesomefilm.com/script/romeo+juliet.txt',
 'http://www.dailyscript.com/scripts/Scream.txt',
 'http://www.scifiscripts.com/scripts/Trek/Star_Trek_VIII.htm',
 'http://www.dailyscript.com/scripts/conspiracy-theory.html',
 'http://www.horrorlair.com/scripts/deeprising.txt',
 'http://www.dailyscript.com/scripts/mimic_production.html',
 'http://www.scifiscripts.com/scripts/spaceJacked.txt',
 'http://www.awesomefilm.com/script/suburbia.html',
 'http://www.dailyscript.com/scripts/Titanic.txt',
 'http://www.awesomefilm.com/script/tomorrowneverdies.txt',
 'http://www.dailyscript.com/scripts/beingjohnmalkovich.html',
 'http://www.horrorlair.com/scripts/H20.txt',
 'http://www.dailyscript.com/scripts/RKO218.html',
 'http://www.moviescriptsandscreenplays.com/BenandMatt/savingprivateryan.txt',
 'http://www.scifiscripts.com/scripts/Trek/Star_Trek_IX.htm',
 'http://www.alibi-books.com/thelostson/thelostson.htm',
 'http://www.horrorlair.com/scripts/lostsouls.txt',
 'http://www.awesomefilm.com/script/chillfactor.html',
 'http://www.horrorlair.com/HorrorWorld/newyork/bones.html',
 'http://www.scifiscripts.com/scripts/GalaxyQuest.txt',
 'http://www.dailyscript.com/scripts/Quills.txt',
 'http://www.dailyscript.com/scripts/house-on-haunted-hill.html',
 'http://www.dailyscript.com/scripts/Erin+Brockovich.txt',
 'http://www.dailyscript.com/scripts/Next_Friday.html',
 'http://www.dailyscript.com/scripts/love_and_basketball.html',
 'http://www.dailyscript.com/scripts/happy-campers_early.html',
 'http://www.dailyscript.com/scripts/Made.txt',
 'http://www.dailyscript.com/scripts/quantumproject.html',
 'http://www.dailyscript.com/scripts/fivefeetandrising.html',
 'http://www.dailyscript.com/scripts/American_Outlaws.html',
 'http://www.scifiscripts.com/scripts/Trek/Star_Trek_X.htm',
 'http://www.dailyscript.com/scripts/anniversaryparty.html',
 'http://www.dailyscript.com/scripts/Scary+Movie+2.txt',
 'http://www.aellea.com/script/devilanddanielwebster.txt',
 'http://www.dailyscript.com/scripts/Basic.txt',
 'http://www.horrorlair.com/scripts/hellraiser_hellseeker_orig.html',
 'http://www.dailyscript.com/scripts/Slash.txt',
 'http://www.dailyscript.com/scripts/final_destination2.html',
 'http://www.dailyscript.com/scripts/lost-in-translation-script.html',
 'http://www.dailyscript.com/scripts/The_Jacket.html',
 'http://www.dailyscript.com/scripts/somethingborrowed.html',
 'http://www.dailyscript.com/scripts/crazy_love.html',
 'http://www.dailyscript.com/scripts/domino.html',
 'http://www.horrorlair.com/scripts/legend.txt']

In [31]:
film_scripts.rename(columns={'link': 'source'}, inplace=True)

In [32]:
film_scripts

,imdb_id,script_id,title,year,gross (inflation-adjusted),source
0,tt0023622,5154,Trouble in Paradise,1932,NaN,http://www.aellea.com/emruf3/tip.html
1,tt0024368,4677,Mystery of the Wax Museum,1933,NaN,http://www.aellea.com/script/qWAX.htm
2,tt0025905,5147,Transatlantic Merry-Go-Round,1934,NaN,http://www.aellea.com/emruf3/tm.html
3,tt0031679,4658,Mr. Smith Goes to Washington,1939,NaN,http://www.dailyscript.com/scripts/Mr%20Smith%...
4,tt0031725,3016,Ninotchka,1939,45.0,http://www.dailyscript.com/scripts/Ninotchka.txt
...,...,...,...,...,...,...
119,tt0366627,2651,The Jacket,2005,8.0,http://www.dailyscript.com/scripts/The_Jacket....
120,tt0372532,4992,The Wedding Date,2005,42.0,http://www.dailyscript.com/scripts/somethingbo...
121,tt0416658,4034,Crazylove,2005,NaN,http://www.dailyscript.com/scripts/crazy_love....
122,tt0421054,4121,Domino,2005,13.0,http://www.dailyscript.com/scripts/domino.html
123,tt0480249,4392,I Am Legend,2007,323.0,http://www.horrorlair.com/scripts/legend.txt

In [34]:
film_scripts['link'] = film_scripts['source']
film_scripts

,imdb_id,script_id,title,year,gross (inflation-adjusted),source,link
0,tt0023622,5154,Trouble in Paradise,1932,NaN,http://www.aellea.com/emruf3/tip.html,http://www.aellea.com/emruf3/tip.html
1,tt0024368,4677,Mystery of the Wax Museum,1933,NaN,http://www.aellea.com/script/qWAX.htm,http://www.aellea.com/script/qWAX.htm
2,tt0025905,5147,Transatlantic Merry-Go-Round,1934,NaN,http://www.aellea.com/emruf3/tm.html,http://www.aellea.com/emruf3/tm.html
3,tt0031679,4658,Mr. Smith Goes to Washington,1939,NaN,http://www.dailyscript.com/scripts/Mr%20Smith%...,http://www.dailyscript.com/scripts/Mr%20Smith%...
4,tt0031725,3016,Ninotchka,1939,45.0,http://www.dailyscript.com/scripts/Ninotchka.txt,http://www.dailyscript.com/scripts/Ninotchka.txt
...,...,...,...,...,...,...,...
119,tt0366627,2651,The Jacket,2005,8.0,http://www.dailyscript.com/scripts/The_Jacket....,http://www.dailyscript.com/scripts/The_Jacket....
120,tt0372532,4992,The Wedding Date,2005,42.0,http://www.dailyscript.com/scripts/somethingbo...,http://www.dailyscript.com/scripts/somethingbo...
121,tt0416658,4034,Crazylove,2005,NaN,http://www.dailyscript.com/scripts/crazy_love....,http://www.dailyscript.com/scripts/crazy_love....
122,tt0421054,4121,Domino,2005,13.0,http://www.dailyscript.com/scripts/domino.html,http://www.dailyscript.com/scripts/domino.html
123,tt0480249,4392,I Am Legend,2007,323.0,http://www.horrorlair.com/scripts/legend.txt,http://www.horrorlair.com/scripts/legend.txt

In [44]:
film_scripts_dropped = film_scripts.drop(['link'], axis=1)
film_scripts_dropped

,imdb_id,script_id,title,year,gross (inflation-adjusted),source
0,tt0023622,5154,Trouble in Paradise,1932,NaN,http://www.aellea.com/emruf3/tip.html
1,tt0024368,4677,Mystery of the Wax Museum,1933,NaN,http://www.aellea.com/script/qWAX.htm
2,tt0025905,5147,Transatlantic Merry-Go-Round,1934,NaN,http://www.aellea.com/emruf3/tm.html
3,tt0031679,4658,Mr. Smith Goes to Washington,1939,NaN,http://www.dailyscript.com/scripts/Mr%20Smith%...
4,tt0031725,3016,Ninotchka,1939,45.0,http://www.dailyscript.com/scripts/Ninotchka.txt
...,...,...,...,...,...,...
119,tt0366627,2651,The Jacket,2005,8.0,http://www.dailyscript.com/scripts/The_Jacket....
120,tt0372532,4992,The Wedding Date,2005,42.0,http://www.dailyscript.com/scripts/somethingbo...
121,tt0416658,4034,Crazylove,2005,NaN,http://www.dailyscript.com/scripts/crazy_love....
122,tt0421054,4121,Domino,2005,13.0,http://www.dailyscript.com/scripts/domino.html
123,tt0480249,4392,I Am Legend,2007,323.0,http://www.horrorlair.com/scripts/legend.txt

In [45]:
film_scripts.sort_values(by=['title'])

,imdb_id,script_id,title,year,gross (inflation-adjusted),source,link
48,tt0093629,4706,A Nightmare on Elm Street 3: Dream Warriors,1987,99.0,http://www.horrorlair.com/scripts/nightmare_on...,http://www.horrorlair.com/scripts/nightmare_on...
109,tt0244000,1634,American Outlaws,2001,20.0,http://www.dailyscript.com/scripts/American_Ou...,http://www.dailyscript.com/scripts/American_Ou...
37,tt0084434,4738,An Officer and a Gentleman,1982,384.0,http://www.dailyscript.com/scripts/Officer+And...,http://www.dailyscript.com/scripts/Officer+And...
63,tt0106303,1689,Arctic Blue,1993,NaN,http://www.awesomefilm.com/script/arcticblue.txt,http://www.awesomefilm.com/script/arcticblue.txt
114,tt0264395,1759,Basic,2003,38.0,http://www.dailyscript.com/scripts/Basic.txt,http://www.dailyscript.com/scripts/Basic.txt
...,...,...,...,...,...,...,...
54,tt0098524,5155,True Believer,1989,19.0,http://www.dailyscript.com/scripts/True%20Beli...,http://www.dailyscript.com/scripts/True%20Beli...
62,tt0105665,5166,Twin Peaks: Fire Walk with Me,1992,8.0,http://www.dailyscript.com/scripts/Twin+Peaks+...,http://www.dailyscript.com/scripts/Twin+Peaks+...
18,tt0055601,5189,Viridiana,1961,NaN,http://www.aellea.com/script/viridiana.txt,http://www.aellea.com/script/viridiana.txt
68,tt0108558,5223,White Angel,1994,NaN,http://www.horrorlair.com/scripts/whiteang.txt,http://www.horrorlair.com/scripts/whiteang.txt
28,tt0072431,5254,Young Frankenstein,1974,401.0,http://www.horrorlair.com/scripts/young.txt,http://www.horrorlair.com/scripts/young.txt

In [46]:
film_scripts_dropped.rename(columns={'gross (inflation-adjusted)': 'gross_ia'}, inplace=True)

In [47]:
film_scripts_dropped

,imdb_id,script_id,title,year,gross_ia,source
0,tt0023622,5154,Trouble in Paradise,1932,NaN,http://www.aellea.com/emruf3/tip.html
1,tt0024368,4677,Mystery of the Wax Museum,1933,NaN,http://www.aellea.com/script/qWAX.htm
2,tt0025905,5147,Transatlantic Merry-Go-Round,1934,NaN,http://www.aellea.com/emruf3/tm.html
3,tt0031679,4658,Mr. Smith Goes to Washington,1939,NaN,http://www.dailyscript.com/scripts/Mr%20Smith%...
4,tt0031725,3016,Ninotchka,1939,45.0,http://www.dailyscript.com/scripts/Ninotchka.txt
...,...,...,...,...,...,...
119,tt0366627,2651,The Jacket,2005,8.0,http://www.dailyscript.com/scripts/The_Jacket....
120,tt0372532,4992,The Wedding Date,2005,42.0,http://www.dailyscript.com/scripts/somethingbo...
121,tt0416658,4034,Crazylove,2005,NaN,http://www.dailyscript.com/scripts/crazy_love....
122,tt0421054,4121,Domino,2005,13.0,http://www.dailyscript.com/scripts/domino.html
123,tt0480249,4392,I Am Legend,2007,323.0,http://www.horrorlair.com/scripts/legend.txt

In [49]:
film_scripts_dropped[['gross_ia']]

     gross_ia
0         NaN
1         NaN
2         NaN
3         NaN
4        45.0
..        ...
119       8.0
120      42.0
121       NaN
122      13.0
123     323.0

[124 rows x 1 columns]

In [52]:
film_scripts_cleaned = film_scripts_dropped[film_scripts_dropped.gross_ia.isna() == False]
film_scripts_cleaned

,imdb_id,script_id,title,year,gross_ia,source
4,tt0031725,3016,Ninotchka,1939,45.0,http://www.dailyscript.com/scripts/Ninotchka.txt
15,tt0047296,4745,On the Waterfront,1954,185.0,http://www.dailyscript.com/scripts/onthewaterf...
23,tt0068638,2387,The Getaway,1972,138.0,http://www.dailyscript.com/scripts/getaway.html
25,tt0070047,4184,The Exorcist,1973,195.0,http://www.horrorlair.com/scripts/exorcist.html
27,tt0071562,4280,The Godfather: Part II,1974,266.0,http://www.dailyscript.com/scripts/godfather2....
...,...,...,...,...,...,...
118,tt0335266,2812,Lost in Translation,2003,64.0,http://www.dailyscript.com/scripts/lost-in-tra...
119,tt0366627,2651,The Jacket,2005,8.0,http://www.dailyscript.com/scripts/The_Jacket....
120,tt0372532,4992,The Wedding Date,2005,42.0,http://www.dailyscript.com/scripts/somethingbo...
122,tt0421054,4121,Domino,2005,13.0,http://www.dailyscript.com/scripts/domino.html
123,tt0480249,4392,I Am Legend,2007,323.0,http://www.horrorlair.com/scripts/legend.txt

In [53]:
film_scripts_cleaned.gross_ia.sum()

11694.0

In [54]:
film_scripts_cleaned.year.value_counts()

year
1992    5
1997    5
2001    5
2000    5
1996    4
1994    4
1999    4
1998    4
1993    4
1995    3
1987    3
1986    3
1989    3
2003    3
2005    3
1985    2
1983    2
1974    2
1990    2
1982    2
2002    1
1939    1
1991    1
1954    1
1988    1
1984    1
1980    1
1979    1
1977    1
1976    1
1975    1
1973    1
1972    1
2007    1
Name: count, dtype: int64

In [56]:
film_scripts_cleaned.groupby('year').describe()

     script_id                                                              \
         count         mean          std     min      25%     50%      75%
year
1939       1.0  3016.000000          NaN  3016.0  3016.00  3016.0  3016.00
1954       1.0  4745.000000          NaN  4745.0  4745.00  4745.0  4745.00
1972       1.0  2387.000000          NaN  2387.0  2387.00  2387.0  2387.00
1973       1.0  4184.000000          NaN  4184.0  4184.00  4184.0  4184.00
1974       2.0  4767.000000   688.722005  4280.0  4523.50  4767.0  5010.50
1975       1.0  2666.000000          NaN  2666.0  2666.00  2666.0  2666.00
1976       1.0  4543.000000          NaN  4543.0  4543.00  4543.0  4543.00
1977       1.0  4978.000000          NaN  4978.0  4978.00  4978.0  4978.00
1979       1.0  5025.000000          NaN  5025.0  5025.00  5025.0  5025.00
1980       1.0  3433.000000          NaN  3433.0  3433.00  3433.0  3433.00
1982       2.0  4486.500000   355.674711  4235.0  4360.75  4486.5  4612.25
1983       2.0  4762.000000   442.648845  4449.0  4605.50  4762.0  4918.50
1984       1.0  5028.000000          NaN  5028.0  5028.00  5028.0  5028.00
1985       2.0  4737.500000   314.662518  4515.0  4626.25  4737.5  4848.75
1986       3.0  3935.000000  1271.507373  2540.0  3388.00  4236.0  4632.50
1987       3.0  4744.000000   314.725277  4450.0  4578.00  4706.0  4891.00
1988       1.0  4315.000000          NaN  4315.0  4315.00  4315.0  4315.00
1989       3.0  4383.666667  1133.698520  3082.0  3998.00  4914.0  5034.50
1990       2.0  4049.000000   343.653896  3806.0  3927.50  4049.0  4170.50
1991       1.0  5104.000000          NaN  5104.0  5104.00  5104.0  5104.00
1992       5.0  4089.800000  1243.226729  1939.0  4354.00  4487.0  4503.00
1993       4.0  2992.000000   925.736104  2027.0  2529.50  2851.5  3314.00
1994       4.0  4543.750000   232.488530  4228.0  4446.25  4594.5  4692.00
1995       3.0  3340.333333  2652.425368   280.0  2522.50  4765.0  4870.50
1996       4.0  4978.000000    87.422346  4888.0  4912.00  4978.0  5044.00
1997       5.0  4045.600000   858.565839  2918.0  3574.00  4039.0  4561.00
1998       4.0  3690.750000  1263.531658  2139.0  2987.25  3793.5  4497.00
1999       4.0  3611.250000  1216.499726  1801.0  3457.75  4133.0  4286.50
2000       5.0  3876.400000   920.360962  2814.0  2996.00  4169.0  4565.00
2001       5.0  2933.800000  1660.583391  1634.0  1666.00  1879.0  4572.00
2002       1.0  5038.000000          NaN  5038.0  5038.00  5038.0  5038.00
2003       3.0  2288.333333   526.522871  1759.0  2026.50  2294.0  2553.00
2005       3.0  3921.333333  1183.203420  2651.0  3386.00  4121.0  4556.50
2007       1.0  4392.000000          NaN  4392.0  4392.00  4392.0  4392.00

             gross_ia                                                    \
         max    count         mean         std     min      25%     50%
year
1939  3016.0      1.0    45.000000         NaN    45.0    45.00    45.0
1954  4745.0      1.0   185.000000         NaN   185.0   185.00   185.0
1972  2387.0      1.0   138.000000         NaN   138.0   138.00   138.0
1973  4184.0      1.0   195.000000         NaN   195.0   195.00   195.0
1974  5254.0      2.0   333.500000   95.459415   266.0   299.75   333.5
1975  2666.0      1.0  1103.000000         NaN  1103.0  1103.00  1103.0
1976  4543.0      1.0   102.000000         NaN   102.0   102.00   102.0
1977  4978.0      1.0   495.000000         NaN   495.0   495.00   495.0
1979  5025.0      1.0   285.000000         NaN   285.0   285.00   285.0
1980  3433.0      1.0   937.000000         NaN   937.0   937.00   937.0
1982  4738.0      2.0   245.500000  195.868578   107.0   176.25   245.5
1983  5075.0      2.0   140.500000   34.648232   116.0   128.25   140.5
1984  5028.0      1.0   197.000000         NaN   197.0   197.00   197.0
1985  4960.0      2.0    59.000000   31.112698    37.0    48.00    59.0
1986  5029.0      3.0   104.666667  132.831974    13.0    28.50    44.0
1987  5076.0      3.0    59.666667   34.588052    34.0    40.00    46.0
1988  4315.0      1.0    37.000000         NaN    37.0    37.00    37.0
1989  5155.0      3.0    63.333333   55.806212    19.0    32.00    45.0
1990  4292.0      2.0    70.000000   36.769553    44.0    57.00    70.0
1991  5104.0      1.0   423.000000         NaN   423.0   423.00   423.0
1992  5166.0      5.0    46.800000   60.561539     1.0     8.00    34.0
1993  4238.0      4.0    92.750000   86.272340     5.0    26.00    95.0
1994  4758.0      4.0    46.750000   14.244882    34.0    39.25    43.0
1995  4976.0      3.0    57.000000   73.627441    13.0    14.50    16.0
1996  5068.0      4.0   118.500000   92.514864     0.0    68.25   136.0
1997  5136.0      5.0   336.800000  517.594146     7.0    48.00   144.0
1998  5037.0      4.0   163.000000  164.750316    20.0    81.50   116.0
1999  4378.0      4.0    62.250000   44.820940    19.0    34.00    54.0
2000  4838.0      5.0    75.400000   77.513225    11.0    27.00    44.0
2001  4918.0      5.0    30.800000   44.042025     6.0     8.00    11.0
2002  5038.0      1.0    64.000000         NaN    64.0    64.00    64.0
2003  2812.0      3.0    56.333333   15.947832    38.0    51.00    64.0
2005  4992.0      3.0    21.000000   18.357560     8.0    10.50    13.0
2007  4392.0      1.0   323.000000         NaN   323.0   323.00   323.0


          75%     max
year
1939    45.00    45.0
1954   185.00   185.0
1972   138.00   138.0
1973   195.00   195.0
1974   367.25   401.0
1975  1103.00  1103.0
1976   102.00   102.0
1977   495.00   495.0
1979   285.00   285.0
1980   937.00   937.0
1982   314.75   384.0
1983   152.75   165.0
1984   197.00   197.0
1985    70.00    81.0
1986   150.50   257.0
1987    72.50    99.0
1988    37.00    37.0
1989    85.50   126.0
1990    83.00    96.0
1991   423.00   423.0
1992    40.00   151.0
1993   161.75   176.0
1994    50.50    67.0
1995    79.00   142.0
1996   186.25   202.0
1997   236.00  1249.0
1998   197.50   400.0
1999    82.25   122.0
2000    92.00   203.0
2001    20.00   109.0
2002    64.00    64.0
2003    65.50    67.0
2005    27.50    42.0
2007   323.00   323.0

In [60]:
films_year = film_scripts_cleaned.groupby('year')
films_year.get_group(2001)

,imdb_id,script_id,title,year,gross_ia,source
98,tt0166110,1879,Bones,2001,11.0,http://www.horrorlair.com/HorrorWorld/newyork/...
106,tt0227005,4572,Made,2001,8.0,http://www.dailyscript.com/scripts/Made.txt
109,tt0244000,1634,American Outlaws,2001,20.0,http://www.dailyscript.com/scripts/American_Ou...
111,tt0254099,1666,The Anniversary Party,2001,6.0,http://www.dailyscript.com/scripts/anniversary...
112,tt0257106,4918,Scary Movie 2,2001,109.0,http://www.dailyscript.com/scripts/Scary+Movie...

In [62]:
films_year = film_scripts_cleaned.groupby('year')['gross_ia'].sum().reset_index()
films_year

    year  gross_ia
0   1939      45.0
1   1954     185.0
2   1972     138.0
3   1973     195.0
4   1974     667.0
5   1975    1103.0
6   1976     102.0
7   1977     495.0
8   1979     285.0
9   1980     937.0
10  1982     491.0
11  1983     281.0
12  1984     197.0
13  1985     118.0
14  1986     314.0
15  1987     179.0
16  1988      37.0
17  1989     190.0
18  1990     140.0
19  1991     423.0
20  1992     234.0
21  1993     371.0
22  1994     187.0
23  1995     171.0
24  1996     474.0
25  1997    1684.0
26  1998     652.0
27  1999     249.0
28  2000     377.0
29  2001     154.0
30  2002      64.0
31  2003     169.0
32  2005      63.0
33  2007     323.0