In [1]:
import pandas as pd
df=pd.read_csv('graybook-fa23.csv')
df.sample(20)

,Employee Name,Job Title,Tenure,Empl Class,Present FTE,Proposed FTE,Present Salary,Proposed Salary,College Code,College Name,Department Code,Department Name,Job Titles,Employee Classes
3026,"Elbel, Stefan","CO-DIR, ACRC",NaN,BA,0.0,0.0,0.00,0.00,KP,Grainger Engineering,917,Mechanical Sci & Engineering,"['CO-DIR, ACRC']",['BA']
2095,"Herbold, T Joshua",ASSOC HEAD ACCY,NaN,NaN,1.0,1.0,190564.00,203500.00,KM,Gies College of Business,346,Accountancy,"['ASSOC HEAD ACCY', 'TCH PROF']","['AA', 'BA']"
1709,"Colacicco, Frank","ASSOC DIR, UTILITY DISTRBTN",NaN,BA,1.0,1.0,127500.00,133237.50,NN,Facilities,701,Facilities and Services,"['ASSOC DIR, UTILITY DISTRBTN']",['BA']
2484,"Spinnato, Jake Alexander",UGRAD ACAD ADVR,NaN,BA,1.0,1.0,50000.00,51750.00,KP,Grainger Engineering,343,Bioengineering,['UGRAD ACAD ADVR'],['BA']
2766,"Moulin, Pierre","PROF, CSL",NaN,NaN,1.0,1.0,163988.00,169729.00,KP,Grainger Engineering,239,Coordinated Science Lab,"['PROF, BECKMAN INST', 'PROF', 'PROF, ITI', 'P...",['AA']
192,"Post, Nathan Matthew",RES SPEC IN AGR,NaN,BA,1.0,1.0,58089.00,58089.00,KL,"Agr, Consumer & Env Sciences",538,Animal Sciences,['RES SPEC IN AGR'],['BA']
292,"Gasper, Susan Marie","EXT EDUC, STEM/CHEM III",NaN,BA,1.0,1.0,70558.59,78680.59,KL,"Agr, Consumer & Env Sciences",384,Cooperative Extension,"['EXT EDUC, STEM/CHEM III']",['BA']
4367,"Soeken-Gittinger, Lori A",AQUATIC ECOLOGIST,NaN,BA,1.0,1.0,57020.00,59158.25,NP,OVCRI Institutes,375,IL Natural History Survey,['AQUATIC ECOLOGIST'],['BA']
4299,"Jarvis, Janet Lynn","ASSOC RES SCI, GIS",NaN,BA,1.0,1.0,60826.45,63107.44,NP,OVCRI Institutes,375,IL Natural History Survey,"['ASSOC RES SCI, GIS']",['BA']
5175,"Shubert, Thomas",SR ASSOC DIR,NaN,BA,1.0,1.0,98290.07,98290.07,LF,Public Safety,305,Fire Service Institute,['SR ASSOC DIR'],['BA']
218,"Bautista, Bianca Adia","VST EXT EDUC, FAM CNSMR SCI",NaN,BA,1.0,1.0,57000.00,57000.00,KL,"Agr, Consumer & Env Sciences",384,Cooperative Extension,"['VST EXT EDUC, FAM CNSMR SCI']",['BA']
5621,"Caldrone, Sandi Lee",ASST PROF UNIV LIBRARY,NaN,NaN,1.0,1.0,70000.00,72260.00,LR,University Library,600,Library Research & Publication,"['RESEARCH DATA LIBRARIAN', 'ASST PROF UNIV LI...",['AL']
4695,"Kantola, Ilsa Beth",VST RES SCI,NaN,BA,1.0,1.0,53000.00,53000.00,NP,OVCRI Institutes,508,"Inst for Sustain, Enrgy, & Env",['VST RES SCI'],['BA']
365,"Munro, Myla Gayle","EXT EDUC, 4-H YOUTH DEV I",NaN,BA,1.0,1.0,59823.00,61813.00,KL,"Agr, Consumer & Env Sciences",384,Cooperative Extension,"['EXT EDUC, 4-H YOUTH DEV I']",['BA']
99,"Todd, Marla Jo",DIR OF ADVCMT OPER,NaN,NaN,1.0,1.0,105149.55,109505.97,KL,"Agr, Consumer & Env Sciences",483,"Agr, Consumer & Env Sci Admn","['DIR OF CONSTITUENT ENGAGMT', 'DIR OF ADVCMT ...",['BA']
2115,"Park, Ye Joo",INSTR,NaN,AA,1.0,1.0,114444.00,120500.00,KM,Gies College of Business,346,Accountancy,['INSTR'],['AA']
3086,"El-Khadra, Aida X",PROF,A,AA,1.0,1.0,137914.04,143776.04,KP,Grainger Engineering,244,Physics,['PROF'],['AA']
1969,"Fairbanks, Stephen Thomas",ASST PROF,P,AA,1.0,1.0,63036.00,68400.00,KR,Fine & Applied Arts,495,Music,['ASST PROF'],['AA']
1685,"Moore, Nikki M",VST SPEC IN EDUC,NaN,BC,1.0,1.0,56100.00,56100.00,KN,Education,570,Special Education,['VST SPEC IN EDUC'],['BC']
1419,"Simons, Daniel J",PROF,NaN,NaN,1.0,1.0,132602.07,137243.14,KT,College of Media,408,Advertising,['PROF'],['AA']

In [16]:
df["Job Title"].value_counts().head(30)

Job Title
PROF                         582
ASSOC PROF                   453
ASST PROF                    436
CLIN ASST PROF, CI MED       133
LECTURER                      93
TCH ASST PROF                 79
CLIN ASST PROF                69
POSTDOC RES ASSOC             67
PROF, CI MED                  65
SR LECTURER                   56
ACAD ADVR                     50
CLIN ASSOC PROF, CI MED       50
RES SCI                       39
CLIN ASSOC PROF               39
INSTR                         37
TEACHING ASST PROF            36
RES ASST PROF                 34
HEAD                          33
PROF, CSL                     29
TCH ASSOC                     28
TCH ASSOC PROF                26
ASSOC DIR                     25
CLIN PROF                     24
ACAD PRFNL - ASSOC            22
PROF, MRL                     22
CLIN COUNS                    22
VET RES SPEC                  20
RES ASSOC PROF                18
RES SPEC                      18
EXT EDUC, 4-H YOUTH DEV I     18
Name: count, dtype: int64