In [260]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import csv
import altair as alt
alt.renderers.enable('mimetype')
from vega_datasets import data
film_scripts = pd.read_csv('cleaned_pudding_data.csv')
film_scripts

,imdb_id,script_id,title,year,gross (inflation-adjusted),link
0,tt0023622,5154,Trouble in Paradise,1932,NaN,http://www.aellea.com/emruf3/tip.html
1,tt0024368,4677,Mystery of the Wax Museum,1933,NaN,http://www.aellea.com/script/qWAX.htm
2,tt0025905,5147,Transatlantic Merry-Go-Round,1934,NaN,http://www.aellea.com/emruf3/tm.html
3,tt0031679,4658,Mr. Smith Goes to Washington,1939,NaN,http://www.dailyscript.com/scripts/Mr%20Smith%...
4,tt0031725,3016,Ninotchka,1939,45.0,http://www.dailyscript.com/scripts/Ninotchka.txt
...,...,...,...,...,...,...
119,tt0366627,2651,The Jacket,2005,8.0,http://www.dailyscript.com/scripts/The_Jacket....
120,tt0372532,4992,The Wedding Date,2005,42.0,http://www.dailyscript.com/scripts/somethingbo...
121,tt0416658,4034,Crazylove,2005,NaN,http://www.dailyscript.com/scripts/crazy_love....
122,tt0421054,4121,Domino,2005,13.0,http://www.dailyscript.com/scripts/domino.html
123,tt0480249,4392,I Am Legend,2007,323.0,http://www.horrorlair.com/scripts/legend.txt

## Changing column name

In [261]:
film_scripts['source'] = film_scripts['link']
film_scripts_dropped = film_scripts.drop(['link'], axis=1)

In [262]:
film_scripts_dropped

,imdb_id,script_id,title,year,gross (inflation-adjusted),source
0,tt0023622,5154,Trouble in Paradise,1932,NaN,http://www.aellea.com/emruf3/tip.html
1,tt0024368,4677,Mystery of the Wax Museum,1933,NaN,http://www.aellea.com/script/qWAX.htm
2,tt0025905,5147,Transatlantic Merry-Go-Round,1934,NaN,http://www.aellea.com/emruf3/tm.html
3,tt0031679,4658,Mr. Smith Goes to Washington,1939,NaN,http://www.dailyscript.com/scripts/Mr%20Smith%...
4,tt0031725,3016,Ninotchka,1939,45.0,http://www.dailyscript.com/scripts/Ninotchka.txt
...,...,...,...,...,...,...
119,tt0366627,2651,The Jacket,2005,8.0,http://www.dailyscript.com/scripts/The_Jacket....
120,tt0372532,4992,The Wedding Date,2005,42.0,http://www.dailyscript.com/scripts/somethingbo...
121,tt0416658,4034,Crazylove,2005,NaN,http://www.dailyscript.com/scripts/crazy_love....
122,tt0421054,4121,Domino,2005,13.0,http://www.dailyscript.com/scripts/domino.html
123,tt0480249,4392,I Am Legend,2007,323.0,http://www.horrorlair.com/scripts/legend.txt

In [263]:
film_scripts_dropped['gross_ia'] = film_scripts_dropped['gross (inflation-adjusted)']
film_scripts_dropped = film_scripts_dropped.drop(['gross (inflation-adjusted)'], axis=1)

In [264]:
film_scripts_dropped

,imdb_id,script_id,title,year,source,gross_ia
0,tt0023622,5154,Trouble in Paradise,1932,http://www.aellea.com/emruf3/tip.html,NaN
1,tt0024368,4677,Mystery of the Wax Museum,1933,http://www.aellea.com/script/qWAX.htm,NaN
2,tt0025905,5147,Transatlantic Merry-Go-Round,1934,http://www.aellea.com/emruf3/tm.html,NaN
3,tt0031679,4658,Mr. Smith Goes to Washington,1939,http://www.dailyscript.com/scripts/Mr%20Smith%...,NaN
4,tt0031725,3016,Ninotchka,1939,http://www.dailyscript.com/scripts/Ninotchka.txt,45.0
...,...,...,...,...,...,...
119,tt0366627,2651,The Jacket,2005,http://www.dailyscript.com/scripts/The_Jacket....,8.0
120,tt0372532,4992,The Wedding Date,2005,http://www.dailyscript.com/scripts/somethingbo...,42.0
121,tt0416658,4034,Crazylove,2005,http://www.dailyscript.com/scripts/crazy_love....,NaN
122,tt0421054,4121,Domino,2005,http://www.dailyscript.com/scripts/domino.html,13.0
123,tt0480249,4392,I Am Legend,2007,http://www.horrorlair.com/scripts/legend.txt,323.0

## Remove missing values

In [265]:
film_scripts_dropped[film_scripts_dropped.gross_ia >= 0]
film_scripts_cleaned = film_scripts_dropped[film_scripts_dropped.gross_ia.isna() == False]
film_scripts_cleaned

,imdb_id,script_id,title,year,source,gross_ia
4,tt0031725,3016,Ninotchka,1939,http://www.dailyscript.com/scripts/Ninotchka.txt,45.0
15,tt0047296,4745,On the Waterfront,1954,http://www.dailyscript.com/scripts/onthewaterf...,185.0
23,tt0068638,2387,The Getaway,1972,http://www.dailyscript.com/scripts/getaway.html,138.0
25,tt0070047,4184,The Exorcist,1973,http://www.horrorlair.com/scripts/exorcist.html,195.0
27,tt0071562,4280,The Godfather: Part II,1974,http://www.dailyscript.com/scripts/godfather2....,266.0
...,...,...,...,...,...,...
118,tt0335266,2812,Lost in Translation,2003,http://www.dailyscript.com/scripts/lost-in-tra...,64.0
119,tt0366627,2651,The Jacket,2005,http://www.dailyscript.com/scripts/The_Jacket....,8.0
120,tt0372532,4992,The Wedding Date,2005,http://www.dailyscript.com/scripts/somethingbo...,42.0
122,tt0421054,4121,Domino,2005,http://www.dailyscript.com/scripts/domino.html,13.0
123,tt0480249,4392,I Am Legend,2007,http://www.horrorlair.com/scripts/legend.txt,323.0

no more missing value

In [266]:
film_scripts_cleaned.isna().sum()

imdb_id      0
script_id    0
title        0
year         0
source       0
gross_ia     0
dtype: int64

### Counting how many words in the script

In [267]:
import numpy as np

def word_count(text):
    words = text.split()
    return len(words)

word_counts = []
for link in film_scripts_cleaned['source']:
    volume_url = link
    volume_response = requests.get(volume_url)
    if volume_response.status_code == 200:
        volume_soup = BeautifulSoup(volume_response.text, "html.parser")
        volume_text = volume_soup.get_text().replace("\n", "")
        count = word_count(volume_text)
        word_counts.append(count)
    else:
        word_counts.append(np.nan)

# word_counts now contains the word count for each link, or np.nan if the request was not successful

In [268]:
film_scripts_cleaned['word_count'] = word_counts
film_scripts_cleaned

C:\Users\arthu\AppData\Local\Temp\ipykernel_8112\4181804386.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  film_scripts_cleaned['word_count'] = word_counts

,imdb_id,script_id,title,year,source,gross_ia,word_count
4,tt0031725,3016,Ninotchka,1939,http://www.dailyscript.com/scripts/Ninotchka.txt,45.0,28296.0
15,tt0047296,4745,On the Waterfront,1954,http://www.dailyscript.com/scripts/onthewaterf...,185.0,25039.0
23,tt0068638,2387,The Getaway,1972,http://www.dailyscript.com/scripts/getaway.html,138.0,24922.0
25,tt0070047,4184,The Exorcist,1973,http://www.horrorlair.com/scripts/exorcist.html,195.0,NaN
27,tt0071562,4280,The Godfather: Part II,1974,http://www.dailyscript.com/scripts/godfather2....,266.0,41143.0
...,...,...,...,...,...,...,...
118,tt0335266,2812,Lost in Translation,2003,http://www.dailyscript.com/scripts/lost-in-tra...,64.0,13337.0
119,tt0366627,2651,The Jacket,2005,http://www.dailyscript.com/scripts/The_Jacket....,8.0,28127.0
120,tt0372532,4992,The Wedding Date,2005,http://www.dailyscript.com/scripts/somethingbo...,42.0,20706.0
122,tt0421054,4121,Domino,2005,http://www.dailyscript.com/scripts/domino.html,13.0,26862.0
123,tt0480249,4392,I Am Legend,2007,http://www.horrorlair.com/scripts/legend.txt,323.0,NaN

Removing movies that has a forbidden script

In [269]:
film_scripts_cleaned=film_scripts_cleaned.dropna().reset_index(drop=True)
film_scripts_cleaned

,imdb_id,script_id,title,year,source,gross_ia,word_count
0,tt0031725,3016,Ninotchka,1939,http://www.dailyscript.com/scripts/Ninotchka.txt,45.0,28296.0
1,tt0047296,4745,On the Waterfront,1954,http://www.dailyscript.com/scripts/onthewaterf...,185.0,25039.0
2,tt0068638,2387,The Getaway,1972,http://www.dailyscript.com/scripts/getaway.html,138.0,24922.0
3,tt0071562,4280,The Godfather: Part II,1974,http://www.dailyscript.com/scripts/godfather2....,266.0,41143.0
4,tt0073195,2666,Jaws,1975,http://www.dailyscript.com/scripts/Jaws.txt,1103.0,28073.0
...,...,...,...,...,...,...,...
64,tt0309593,2294,Final Destination 2,2003,http://www.dailyscript.com/scripts/final_desti...,67.0,23326.0
65,tt0335266,2812,Lost in Translation,2003,http://www.dailyscript.com/scripts/lost-in-tra...,64.0,13337.0
66,tt0366627,2651,The Jacket,2005,http://www.dailyscript.com/scripts/The_Jacket....,8.0,28127.0
67,tt0372532,4992,The Wedding Date,2005,http://www.dailyscript.com/scripts/somethingbo...,42.0,20706.0
68,tt0421054,4121,Domino,2005,http://www.dailyscript.com/scripts/domino.html,13.0,26862.0

### change years into date form

In [270]:
film_scripts_cleaned['date']=film_scripts_cleaned['year'].astype(str)+'-01-01'
film_scripts_cleaned['date'] = pd.to_datetime(film_scripts_cleaned['date'])

### ploting the graph

In [271]:
lines = alt.Chart(film_scripts_cleaned).mark_line().encode(
    x='date:T',
    y='word_count:Q',
    tooltip=['year', 'word_count', 'title']
)

points = alt.Chart(film_scripts_cleaned).mark_circle().encode(
    x='date:T',
    y='word_count:Q',
    color=alt.Color('title:N', legend=None),
    tooltip=['year', 'word_count', 'title']
)

chart = lines + points
chart.interactive().properties(title='Dialogue Over Time')

<VegaLite 5 object>

If you see this message, it means the renderer has not been properly enabled
for the frontend that you are using. For more information, see
https://altair-viz.github.io/user_guide/display_frontends.html#troubleshooting

In [272]:
lines1 = alt.Chart(film_scripts_cleaned).mark_line().encode(
    x='word_count:Q',
    y='gross_ia:Q',
    tooltip=['gross_ia', 'word_count', 'title']
)

points1 = alt.Chart(film_scripts_cleaned).mark_circle().encode(
    x='word_count:Q',
    y='gross_ia:Q',
    color=alt.Color('title:N', legend=None),
    tooltip=['gross_ia', 'word_count', 'title']
)

chart1 = lines1 + points1
chart1.interactive().properties(title='Dialogue vs gross (inflation-adjusted)')

<VegaLite 5 object>

If you see this message, it means the renderer has not been properly enabled
for the frontend that you are using. For more information, see
https://altair-viz.github.io/user_guide/display_frontends.html#troubleshooting

### Reading the Matthew Daniels Github Dataset

In [273]:
character_list_df = pd.read_csv('character_list5.csv', encoding='ISO-8859-1')
character_mapping_df = pd.read_csv('character_mapping.csv', encoding='ISO-8859-1')
metaddata_df = pd.read_csv('meta_data7.csv', encoding='ISO-8859-1')
dialogue_df = pd.merge(character_list_df, metaddata_df, on='script_id', how="inner")
dialogue_df

,script_id,imdb_character_name,words,gender,age,imdb_id,title,year,gross,lines_data
0,280,betty,311,f,35.0,tt0112579,The Bridges of Madison County,1995,142.0,4332023434343443203433434334433434343434434344...
1,280,carolyn johnson,873,f,NaN,tt0112579,The Bridges of Madison County,1995,142.0,4332023434343443203433434334433434343434434344...
2,280,eleanor,138,f,NaN,tt0112579,The Bridges of Madison County,1995,142.0,4332023434343443203433434334433434343434434344...
3,280,francesca johns,2251,f,46.0,tt0112579,The Bridges of Madison County,1995,142.0,4332023434343443203433434334433434343434434344...
4,280,madge,190,f,46.0,tt0112579,The Bridges of Madison County,1995,142.0,4332023434343443203433434334433434343434434344...
...,...,...,...,...,...,...,...,...,...,...
23043,9254,lumiere,1063,m,56.0,tt0101414,Beauty and the Beast,1991,452.0,3245753334377767774433634446467677732244465553...
23044,9254,maurice,1107,m,71.0,tt0101414,Beauty and the Beast,1991,452.0,3245753334377767774433634446467677732244465553...
23045,9254,monsieur d'arqu,114,m,58.0,tt0101414,Beauty and the Beast,1991,452.0,3245753334377767774433634446467677732244465553...
23046,9254,mrs. potts,564,f,66.0,tt0101414,Beauty and the Beast,1991,452.0,3245753334377767774433634446467677732244465553...
23047,9254,wardrobe,121,f,54.0,tt0101414,Beauty and the Beast,1991,452.0,3245753334377767774433634446467677732244465553...

In [274]:
dialogue_df.isna().sum()

script_id                 0
imdb_character_name       2
words                     0
gender                    0
age                    4785
imdb_id                   0
title                     0
year                      0
gross                  3661
lines_data                0
dtype: int64

### dropping Nan Value (excluding the Nan value from imdb_character_name since it won't affect our analysis)

In [276]:
xclean=dialogue_df[(dialogue_df.age.notna())&(dialogue_df.gross.notna())]
xclean

,script_id,imdb_character_name,words,gender,age,imdb_id,title,year,gross,lines_data
0,280,betty,311,f,35.0,tt0112579,The Bridges of Madison County,1995,142.0,4332023434343443203433434334433434343434434344...
3,280,francesca johns,2251,f,46.0,tt0112579,The Bridges of Madison County,1995,142.0,4332023434343443203433434334433434343434434344...
4,280,madge,190,f,46.0,tt0112579,The Bridges of Madison County,1995,142.0,4332023434343443203433434334433434343434434344...
5,280,michael johnson,723,m,38.0,tt0112579,The Bridges of Madison County,1995,142.0,4332023434343443203433434334433434343434434344...
6,280,robert kincaid,1908,m,65.0,tt0112579,The Bridges of Madison County,1995,142.0,4332023434343443203433434334433434343434434344...
...,...,...,...,...,...,...,...,...,...,...
23043,9254,lumiere,1063,m,56.0,tt0101414,Beauty and the Beast,1991,452.0,3245753334377767774433634446467677732244465553...
23044,9254,maurice,1107,m,71.0,tt0101414,Beauty and the Beast,1991,452.0,3245753334377767774433634446467677732244465553...
23045,9254,monsieur d'arqu,114,m,58.0,tt0101414,Beauty and the Beast,1991,452.0,3245753334377767774433634446467677732244465553...
23046,9254,mrs. potts,564,f,66.0,tt0101414,Beauty and the Beast,1991,452.0,3245753334377767774433634446467677732244465553...
23047,9254,wardrobe,121,f,54.0,tt0101414,Beauty and the Beast,1991,452.0,3245753334377767774433634446467677732244465553...

we can see that imdb character name is also Nan free, it must be because they on the same row as the row that has Nan value in gross or age

In [277]:
xclean.isna().sum()

script_id              0
imdb_character_name    0
words                  0
gender                 0
age                    0
imdb_id                0
title                  0
year                   0
gross                  0
lines_data             0
dtype: int64

make new column of age category

In [278]:
def categorize_age(row):
    if row['age'] == row['year']:
        return 'unknown'
    elif row['age'] <= 21:
        return 'age 21 and under'
    elif 22 <= row['age'] <= 50:
        return 'age 22-50'
    else:
        return 'age 51 and above'

# Apply the function to each row and store the result in a new column
xclean['age_category'] = xclean.apply(categorize_age, axis=1)

C:\Users\arthu\AppData\Local\Temp\ipykernel_8112\4009212726.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xclean['age_category'] = xclean.apply(categorize_age, axis=1)

In [279]:
xclean

,script_id,imdb_character_name,words,gender,age,imdb_id,title,year,gross,lines_data,age_category
0,280,betty,311,f,35.0,tt0112579,The Bridges of Madison County,1995,142.0,4332023434343443203433434334433434343434434344...,age 22-50
3,280,francesca johns,2251,f,46.0,tt0112579,The Bridges of Madison County,1995,142.0,4332023434343443203433434334433434343434434344...,age 22-50
4,280,madge,190,f,46.0,tt0112579,The Bridges of Madison County,1995,142.0,4332023434343443203433434334433434343434434344...,age 22-50
5,280,michael johnson,723,m,38.0,tt0112579,The Bridges of Madison County,1995,142.0,4332023434343443203433434334433434343434434344...,age 22-50
6,280,robert kincaid,1908,m,65.0,tt0112579,The Bridges of Madison County,1995,142.0,4332023434343443203433434334433434343434434344...,age 51 and above
...,...,...,...,...,...,...,...,...,...,...,...
23043,9254,lumiere,1063,m,56.0,tt0101414,Beauty and the Beast,1991,452.0,3245753334377767774433634446467677732244465553...,age 51 and above
23044,9254,maurice,1107,m,71.0,tt0101414,Beauty and the Beast,1991,452.0,3245753334377767774433634446467677732244465553...,age 51 and above
23045,9254,monsieur d'arqu,114,m,58.0,tt0101414,Beauty and the Beast,1991,452.0,3245753334377767774433634446467677732244465553...,age 51 and above
23046,9254,mrs. potts,564,f,66.0,tt0101414,Beauty and the Beast,1991,452.0,3245753334377767774433634446467677732244465553...,age 51 and above
23047,9254,wardrobe,121,f,54.0,tt0101414,Beauty and the Beast,1991,452.0,3245753334377767774433634446467677732244465553...,age 51 and above

In [280]:
xclean['age_category'].value_counts()

age_category
age 22-50           10841
age 51 and above     3623
age 21 and under     1076
unknown                13
Name: count, dtype: int64

In [281]:
xclean['date']=xclean['year'].astype(str)+'-01-01'
xclean['date'] = pd.to_datetime(xclean['date'])

C:\Users\arthu\AppData\Local\Temp\ipykernel_8112\3352702549.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xclean['date']=xclean['year'].astype(str)+'-01-01'
C:\Users\arthu\AppData\Local\Temp\ipykernel_8112\3352702549.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xclean['date'] = pd.to_datetime(xclean['date'])

### Grouping

In [282]:
gaw=xclean.groupby(['date', 'age_category'])['words'].sum().reset_index()
gag=xclean.groupby(['date', 'age_category'])["gross"].sum().reset_index()

In [283]:
alt.Chart(gaw).mark_line().encode(
    x='date:T',
    y='words',
    color='age_category',
    tooltip=['date', 'words','age_category']
).interactive().properties(
    title='Dialogue Over Time Colored By Age Category'
)

<VegaLite 5 object>

If you see this message, it means the renderer has not been properly enabled
for the frontend that you are using. For more information, see
https://altair-viz.github.io/user_guide/display_frontends.html#troubleshooting

In [285]:
alt.Chart(gag).mark_line().encode(
    x='date:T',
    y='gross',
    color='age_category',
    tooltip=['date', 'gross','age_category']
).interactive().properties(
    title='Gross Over Time Colored By Age Category'
)

<VegaLite 5 object>

If you see this message, it means the renderer has not been properly enabled
for the frontend that you are using. For more information, see
https://altair-viz.github.io/user_guide/display_frontends.html#troubleshooting

## Analysis

- 1a. as we can see from our first graph there is no noticeable trends between the number of dialogue and time. this contradicts our findinng from our gender dialogue grpah we did in class

- 1b. there is a small trend betweeen number of words and gross (word counts does not really matter in terms of affecting gross) there are only some noticable high outlier movies that has a significantly high gross

- 2a ?????????????????? need ask proffesor or lucian
- 2b. we can see from our graph that age 22-50 has the highest trend over time, 51 and above in the second place and age 21 and under has the lowest trend for both gross and words